<% content_for :header_links do %> 
  <a class="list" href="/lists/new">Create a New List</a>
<% end %> 

<ul id="lists">
  <% @lists.each_with_index do |list, id| %>
    <% if list_complete?(list) %> 
      <li class="complete">
    <% else %> 
      <li>
    <% end %>

      <a href="/lists/<%= id %>">
        <h2><%= list[:name] %></h2>
        <p><%= @lists[id][:todos].size  %></p>
      </a>
    </li>
  <% end %>
</ul>

